@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#one {
  position: absolute;
  width: 200px;
  height: 200px;
  background: darkcyan;
  top: 75px;
  left: 75px;
}

#two {
  position: absolute;
  width: 175px;
  height: 175px;
  background: burlywood;
  top: 175px;
  left: 175px;
}

#three {
  position: absolute;
  width: 450px;
  height: 100px;
  background: blueviolet;
  top: 325px;
  left: 75px;
}

#four {
  position: absolute;
  width: 100px;
  height: 450px;
  background: cornflowerblue;
  top: 75px;
  left: 400px;

}